.App {
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;

}

.time{
  color: rgb(138, 21, 21);
}
.form-box{
  text-align: left;
  width: 300px;
  margin: auto;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100px;
  
  /* border: 1px solid black; */
  
}
@media (max-height:800px){
  .ver-th{
   white-space: nowrap;
  }
  .header{
    background-color: white;
  }
}

@media (min-height:800px){

 
  .blank-cell{
    height: 150px;
    border-right: 1px solid rgb(221, 221, 221);
  }
  .ver-th{
    border-right: 1px solid rgb(221, 221, 221);
    position: fixed;
    left: 0;
    
    background-color: white;
    width: 200px;
    margin: auto;
  } 
  .bot-tr{
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  table{
    margin-left: 200px;
  }
}

